body {
    font-family: 'font';
      background:#EDEDED

}

#back {
    color: rgb(79, 148, 226);
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
    transition-timing-function: ease-in-out;
    position: relative;
}

@font-face {
    font-family: 'font';
    src: url('../src/product-sans/Product\ Sans\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
