#editPage,#createPage {
    background: url("https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    height: 90vh;
    background-size: cover;
    background-position: center;
    position: relative;
    }

#mainCard {
    background-color:rgba(0, 0, 0, 0.05);
    color:white;
}