.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:#EDEDED;
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1, .hero h2 {
  color: white;
}

.hero h1 {
  font-size: 60px;
  padding-top: 140px;
  margin-top: 0;
}

img {
  height: 700px; 
}

#secondFont {
  font-size: 40px;
}

